*{
	margin: 0px;
	padding: 0px;
}

/*=== Common CSS ===*/

.bottom-15{
margin-bottom: 15px;
}

/*=== login CSS ===*/

.login-bg{
background-color: #273044;
}

.login_wrap {
    background-color: #fff;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    margin: 25vh auto 0;
    box-sizing: border-box;
    border-radius: 10px;
}

button.btn.btn-default.custom-btn,button.btn.btn-default.custom-btn:focus,button.btn.btn-default.custom-btn:hover,button.btn.btn-default.custom-btn:active,button.btn.btn-default.custom-btn:visited {
    background-color: #fcad17!important;
    border-color:  #fcad17!important;
    box-shadow: none;
    outline: none;
}
.btn-min{
    min-width: 100px;
    min-height: 40px;
}
